extends: stylelint-config-standard

rules:
  block-closing-brace-newline-before: null
  comment-empty-line-before: null
  declaration-colon-newline-after: null
  indentation: null
  rule-empty-line-before: null
  selector-list-comma-newline-after: null
  value-list-comma-newline-after: null
